* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.6s linear;
}

div {

    display: flex;
    overflow-x: hidden;

}

.conteudo-1 {
    display: inline-block;
    width: 60%;
    margin-top: 230px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 135px;

    h1 {
        color: #5D5D7D;
        font-size: 70px;
        font-weight: 400;
        font-family: "Oswald", sans-serif;
    }

    p {
        color: #5D5D7D;
        font-weight: 400;
        font-size: 20px;
        font-family: "Oswald", sans-serif;
        opacity: 0.60;
    }

    button {
        background-color: #9499EA;
        color: #ffffff;
        border: none;
        font-size: 22px;
        font-family: "Oswald", sans-serif;
        font-weight: 400;
        padding: 5px;
        border-radius: 35px;
        width: 200px;
        margin-top: 7px;
    }

    button:hover {
        cursor: pointer;
        background-color: #5D5D7D;
        transition: 0.4s linear;
        font-size: 23px;
        padding: 6px;
    }

}

.conteudo-2 {
    display: inline-block;
    background-color: rgba(93, 93, 125, 0.16);
    height: 100vh;
    width: 40%;

    header {
        display: flex;
        justify-content: space-around;

        a {
            margin-top: 5px;
            text-decoration: none;
            font-family: "Oswald", sans-serif;
            font-weight: 400;
            font-size: 25px;
            color: #5D5D7D;
        }

        a:hover {
            cursor: pointer;
            color: #9499EA;
            opacity: 0.70;
            transition: 0.7s linear;
            font-size: 27px;
        }
    }

    img {
        height: 70%;
        position: relative;
        margin-left: -120px;
        margin-top: 85px;
        animation: moverfotogirl 3s infinite alternate ease-in-out;
    }


}

@keyframes moverfotogirl {
    from {
        transform: translate(-2%, 2%) rotate(-4deg);
    }
}


/* Para telas até 1024px (tablets em modo paisagem) */
@media (max-width: 1024px) {}

/* Para telas até 768px (tablets e smartphones grandes) */
@media (max-width: 768px) {
    .conteudo-1 {
        margin-top: 30px;
    }
}

/* Para telas até 480px (smartphones pequenos) */
@media (max-width: 480px) {
    div {
        flex-direction: column-reverse;
    }

    .conteudo-2 {
        width: 100%;
        height: 60vh;

        header {
            a {
                font-size: 20px;
            }

            a:hover {
                font-size: 25px;
            }
        }

        img {
            margin: 0;
            top: 45px;
            left: 95px;
            height: 60%;
            width: 50%;
        }
    }

    .conteudo-1 {
        h1 {
            font-size: 40px;
        }

        p {
            font-size: 15px;
        }

        button {
            width: 170px;
        }

        button:hover {
            padding: 0;
        }
    }
}